header{
    background-image: url(../furnitureImages/headerImage.png);
    background-position: center;
    padding: 150px;
}

h1{
    color: #b19041;
}

.headerbox{
    background-color: #fdf3e5;
}

.row1{
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 100px;
    padding-bottom: 25px;
}

body{
    text-align: center;
}