@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
    --color-dark-charcoal: #213237;
    --color-arsenic: #3c4341;
    --color-dim-gray: #656a69;
    --color-silver: #a9abac;
    --color-terminal-green: #38ff38;
}

body{
    font-family: 'Space Mono', monospace;
    background-color: var(--color-dark-charcoal);
    color: var(--color-silver);
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.page-header{
    background-color: var(--color-dim-gray);
    color: var(--color-dark-charcoal);
    padding: 1rem 0;
    border-bottom: 4px solid var(--color-dark-charcoal);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 0;
    font-weight: 700;
}

.terminal-window{
    border: 4px solid var(--color-dim-gray);
    background-color: var(--color-arsenic);
    box-shadow: 8px 8px 0px 0px var(--color-dim-gray);
    border-radius: 4px;
    padding: 2rem;
}

.form-control, .form-select{
    border: 2px solid var(--color-dim-gray);
    background-color: var(--color-dark-charcoal) !important;
    color: var(--color-silver) !important;
    padding: 0.5rem 0.75rem;
    border-radius: 2px;
}

.form-control:focus, .form-select:focus{
    outline: none;
    border-color: #fff;
    box-shadow: 0 0 0 1px #fff;
}

.form-control::placeholder{
    color: var(--color-silver);
    opacity: 0.7;
}

.form-control:-ms-input-placeholder{
    color: var(--color-silver);
    opacity: 0.7;
}

.form-control::-ms-input-placeholder{
    color: var(--color-silver);
    opacity: 0.7;
}

.retro-btn{
    background-color: var(--color-dim-gray);
    color: var(--color-dark-charcoal);
    font-weight: bold;
    padding: 0.6rem 1.5rem;
    border: 3px solid var(--color-dark-charcoal);
    border-radius: 2px;
    cursor: pointer;
    box-shadow: 4px 4px 0px 0px var(--color-dark-charcoal);
    transition: all 0.1s ease-out;
    text-transform: uppercase;
}

.retro-btn:hover{
    background-color: #8d9392;
    color: var(--color-dark-charcoal);
}

.retro-btn:active{
    box-shadow: 0px 0px 0px 0px var(--color-dark-charcoal);
    transform: translate(4px, 4px);
}

.retro-btn-reset {
    background-color: #4A4F4D; 
    color: var(--color-silver);
}
.retro-btn-reset:hover {
    background-color: #5B615F;
    color: var(--color-silver);
}

#story-output{
    background-color: #111111;
    color: var(--color-terminal-green);
    min-height: 250px;
    white-space: pre-wrap;
    line-height: 1.6;
    border:  1px solid var(--color-dim-gray);
    border-radius: 2px;
    font-size: 0.85rem;
}

.form-check-input{
    background-color: var(--color-dark-charcoal);
    border-color: var(--color-dim-gray);
}

.form-check-input:checked{
    background-color: var(--color-terminal-green);
    border-color: var(--color-terminal-green);
    box-shadow: none;
}